<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cheatengine" />
  <package id="discord" />
  <package id="discord.install" />
  <package id="epicgameslauncher" />
  <package id="Firefox" />
  <package id="geforce-experience" />
  <package id="goggalaxy" />
  <package id="malwarebytes" />
  <package id="miktex" />
  <package id="miktex.install" />
  <package id="obsidian" />
  <package id="playnite" />
  <package id="plex" />
  <package id="potplayer" />
  <package id="prismlauncher" />
  <package id="steam" />
  <package id="strawberryperl" />
  <package id="Temurin17jre" />
  <package id="Temurin21jre" />
  <package id="Temurin8jre" />
</packages>